header{
  /* text-align: center; */
  font-size: 40px;
  background-color: #eebfbf;
  width: 200px;
  text-align: center;
}

header::before,
header::after{
  content: "";
  display: block;
  width: 0;
  height: 5px; 
  background-color: #d96363;
  transition: width 1s linear;
  margin-left: 0;
}

header::after{
  margin-left: auto;
}

header:hover::before{
  width: 100%;
}

header:hover::after{
  width: 100%;
}
